.muscle {
    width: 350px;
    margin: 0px auto;
    box-shadow: 0px 5px 20px #999;
    word-wrap: break-word;
}

.muscle:hover .image img { 
    width: 110%;
  }

.titre {
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

.description {
    font-size : 10px;
}

